*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-image: url('img/bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    width: 100%;
    height: 100vh;
}

/*Navagation Bars*/

.nav-1 {
    background-color: rgba(0, 0, 0, 0.2);
}

.nav-1 .btn {
    background-color: rgba(255, 255, 255, 0.25);
}

.nav-2 .btn {
    background-color: rgba(255, 255, 255, 0.25);
}

.nav-1 .btn:hover {
    background-color: rgba(255, 255, 255, 0.15);
}

.nav-2 .btn:hover {
    background-color: rgba(255, 255, 255, 0.15);
}

.vl {
    border-left: 2px solid rgba(255, 255, 255, 0.25);
    height: 16px;
    text-align: center;
    align-self: center;
}

.avatar {
    height: 32px;
    width: 32px;
    border-radius: 50%;
    margin-top: 2px;
}

button.profile {
    background-image: url('img/profile.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

button.profile1 {
    background-image: url('img/profile.jpg');
    background-size: cover;
}

button.profile2 {
    background-image: url('img/pp1.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


/*Loader and Logo*/
#loading-image {
    opacity: 0.6;
    width: 24px;
    height: 24px;
}

#logo {
    width: 89px;
    height: 32px;
    opacity: 0.6;
}

/*Wrapper*/
#wrapper {
    width: 100%;
    overflow: auto;
    display: flex;
    align-items: flex-start;
}

/*Card*/

.trello-label {
    width: 40px;
    height: 8px;
    border-radius: 4px;
}

.trello-card {
    padding: 0 10px 10px 10px;
    background-color: #fff;
    border-radius: 3px;
    box-shadow: 0 1px 0 rgba(9,30,66,.25);
    cursor: pointer;
}

div.trello-card:hover {
    background-color: #F4F5F7;
}

#add-new-card {
    flex-grow: 1;
}


/*List*/
#wrapper > div.trello-list {
    min-width: 272px;
    max-width: 272px;
    box-sizing: border-box;
    background-color: #ebecf0;
    color: #172b4d;
}

div.trello-list h6 {
    flex-grow: 1;
    font-size: 14px;
    margin-bottom: 0;
}
  
div.trello-list h6.trello-title {
    font-weight: normal;
}
  
div.trello-list button {
    font-size: 0.9rem;
    color: #6b778c;
    background-color: transparent;
    box-sizing: border-box;
}
  
div.trello-list button:hover {
    background-color: rgba(0, 0, 0, 0.08);
}
  
button.add-list {
    min-width: 272px;
    width: 272px;
    max-width: 272px;
    color: #172b4d;
    font-size: 14px;
    font-weight: normal;
    background-color: rgba(255, 255, 255, 0.25);
}
  
button.add-list:hover {
    background-color: rgba(255, 255, 255, 0.15);
}

#list-title-input {
    width: 100%;
    font-size: 14px;
    font-weight: 500;
}
  
#add-list-popup {
    display: none;
    z-index: 10;
    background-color: rgba(200, 255, 255, 0.7);
    position: absolute;
}

.list-menu {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
    display: none;
    width: 280px;
    background-color: #fafafa;
    box-shadow: rgba(180, 180, 180, 0.7) 2px 2px 3px 1px;
}
  
.list-menu .list-group .list-group-item {
    cursor: pointer;
    font-size: 14px;
    padding-top: .5rem;
    padding-bottom: .5rem;
}
  
.list-menu .list-group .list-group-item > i {
    opacity: 0.65;
}

/* Card Modal Section */
#cardModal .modal-content {
    background-color: #F4F5F7;
}
  
.modal-body h6 {
    padding: 8px 0 0 12px;
}
  
.modal-header {
    position: relative;
}
  
#inListDesc {
    position: absolute;
    left: 0;
    bottom: 0;
    font-size: 10px;
}
  
p#cardDesc, #chkli-wrapper {
    padding: 0 12px 8px 12px;
    font-size: 14px;
}
